div{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}
.c1{
    background-image: url("img/angrypeng.jpg");
}
.c2{
    background-image: url("img/babypeng.jpg");
}
.c3{
    background-image: url("img/liltux.png");
}
.c4{
    background-image:url("img/penguinrobber.jpg")
}
.c5{
    background-image: url("img/wackyimage.jpg");
}
.c6{
    background-image:
    url("img/Tux.png")
}
